div{
    background-color: blue;
}
nav{
    display:flex;
    padding: 2rem;
    justify-content: center;
    background-color: goldenrod;

    
}
ul 
{
    display: flex;
    list-style-type: none;
       
}
li{
    gap: 10px;
}

a{
    display: flex;
    color:chartreuse;
    background-color: black;
 
    font-size: xx-large;
}
a:link{
    color:chartreuse;
}
